.d-contenaire {
  // justify-content: center;
  // align-items: center;

  &::before {
    content: '';
    position: fixed;
    inset: 0px;
    z-index: -1;
    pointer-events: none;
    background: url("bg_form.jpg") no-repeat center;
    background-size: cover;
    animation: backgroundZoomAnimate 120s forwards;
  }

}
@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3);
  }
}

.d-box {
  // background-color: white;
  backdrop-filter: blur(10px);
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid #BAD3F6;
  padding: 10px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  // box-shadow: 0 8px 16px 0 rgba(245, 243, 243, 0.447), 0 8px 16px 0 rgba(245, 243, 243, 0.447);

}

.form-control {
  background-color: transparent;
  color: white;
  border-radius: 10px;
}

.spot_longitude .form-label {
  display: none;
}
.spot_latitude .form-label {
  display: none;
}
