<div class="d-contenaire">
  <div class="bgblur">
    <div class="d-box">
      <div class="content">
        <h1 class="spot-ttl">About Us</h1>
          <h2>NextDive_</h2>
            <p>There are plenty of places in the world yet to be explored. However, these places are not always visible for the naked eye. There are pieces of paradise landscape hidden under the water.
              Besides the calmness existing will complement the mesmerising feast for the eyes, the inner peace can also be easily reached.
            <p>
              NextDive_, is about let you know exactly were these spots these heaven on hearth or under it, are !
              NextDive_ will allow you to find the best locations, according to you, according to its pictures and to reviews available.
            <p>
              In addition, you will be able to plan your trips based on the location, even check the weather forecast on the spots.
            </p>
            </p>
              Nonetheless, in case you are adventurous yourself you can also share your discoveries in order to share it with others like yourself, people seeking for beautiful hidden places, seeking for inner peace in the ocean.
            </p>

          <h2>Our Goal for you !</h2>

            <p>Therefore, NextDive_’s goal is to actually provide all you need to know to prepare you for your next dive, or to your first dive since according to the categories you may actually find spots suited for beginners.
            <p>
              NextDive_ aims to provide the knowledge of great spots alerting you of all the aspects you may need to know even its dangers.
            </p>
              You want to explore, you like the peace of the Ocean or even rivers and lakes, you want to stir aways from the common crowded areas then NextDive_ is made for you !
            </p>
      </div>
    </div>
  </div>
</div>
