.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
  padding: 0 0.75rem;
  margin: 0;
  border-radius: 10px;
  ::placeholder{
    color: white;
  }
}



.mapboxgl-ctrl-geocoder--input {
  color: white;
  &:active {
    color: white;
  }
  &:focus {
    color: white;
  }
}
