.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.249);
  position: relative;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;

}

.navbar-nav {
  flex-grow: 1;
    justify-content: flex-end;
}

.btn-add {
  background: #bad3f680;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;

  &:hover {
    background-color: #BAD3F6;
  }
}

.add-spot, .d-title, .collapse {
  flex-grow: 1 !important;
  flex-basis: 0 !important;
}

.add-spot {
  display: flex;
  justify-content: center;
}

.d-title {
  display: flex;
  align-items: flex-end;

  h3 {
    color: white;
  }
}

.collapse:not(.show) {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.navbar-toggler {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
}
